<h4>{{post.city}} by {{post.name}}</h4>
{{#if isPostShowing}}
  <p>Country: {{post.country}}</p>
  <p>Highlight of the trip: {{post.highlight}}</p>
  <p {{action 'postHide'}}>{{post.body}}</p>
  <img src={{post.image}} alt="" />
{{else}}
  <button class="btn btn-success" {{action 'postShow'}}>Show</button>
{{/if}}
<button  class="btn btn-danger" {{action  'delete' post}}>Delete Post</button>
