<h1>{{post.city}} by {{post.name}}</h1>
<div class="post-body">
  <div class="row">
    <div class="col-md-9">

      <div class="row">
        <img class="post-image" src={{post.image}} alt="" />
      </div>
      <div class="row content">
        <div class="col-md-7">
          <p><span class="topic-highlight">Country:</span> {{post.country}}</p>
          <p><span class="topic-highlight">Highlight of the trip:</span> {{post.highlight}}</p>
        </div>
        <div class="col-md-5">
          <h4 class="topic-highlight"> Tags </h4>
          <ul>
            {{#each post.tags as |tag|}}
            {{tag-tile tag=tag destroyTag="destroyTag"}}
            {{/each}}
          </ul>
        </div>
        <p {{action 'postHide'}}>{{post.body}}</p>
      </div>
    </div>
    <div class="col-md-3">
      {{update-post post=post update="update"}}
      <button  id="delete-button" class="btn btn-danger" {{action  'delete' post}}>Delete Post</button>
      {{new-tag saveTag="saveTag" post=model}}
    </div>
  </div>
</div>

<div class="row">

  <h2> Comments </h2>
  <ul>
    {{#each post.comments as |comment|}}
    {{comment-tile comment=comment update="update" destroyComment="destroyComment"}}
    {{/each}}
  </ul>

</div>
