<p>{{post.city}} by {{post.name}}</p>
{{#if isPostShowing}}
  <p>{{post.country}}</p>
  <p>{{post.highlight}}</p>
  <p {{action 'postHide'}}>{{post.body}}</p>
  <img src={{post.image}} alt="" />
{{else}}
  <button {{action 'postShow'}}>Show</button>
{{/if}}
