<h1>{{post.city}} by {{post.name}}</h1>
<div class="post-body">
  <div class="row">
    <div class="col-md-6">
      <img src={{post.image}} alt="" />
    </div>
    <div class="col-md-6 content">
      <p><span class="topic-highlight">Country:</span> {{post.country}}</p>
      <p><span class="topic-highlight">Highlight of the trip:</span> {{post.highlight}}</p>
      <p {{action 'postHide'}}>{{post.body}}</p>
    </div>
  </div>

  <h2> Comments </h2>
  <ul>
    {{#each post.comments as |comment|}}
    {{comment-tile comment=comment}}
    {{/each}}
  </ul>

  <h2> Tags </h2>
  <ul>
    {{#each post.tags as |tag|}}
    {{tag-tile tag=tag}}
    {{/each}}
  </ul>
</div>

<div class="row buttons">
  <div class="col-md-1">
    {{update-post post=post update="update"}}
  </div>
  <div class="col-md-1">
    {{new-tag saveTag="saveTag" post=post}}
  </div>
  <div class="col-md-1">
    <button  id="delete-button" class="btn btn-danger" {{action  'delete' post}}>Delete Post</button>
  </div>
</div>
