<div class="row">
  {{#each model.posts as |post|}}
  {{post-tile post=post}}
  {{/each}}
</div>


<div class="row content-spacing">

  {{new-post savePost ='savePost'}}
</div>
<div class="row">
  <div class="col-md-6">

    <ul>
      {{#each model.comments as |comment|}}
      <li>{{comment.rating}} - {{comment.content}} - by {{comment.author}}</li>
      {{/each}}
    </ul>

    {{new-comment saveComment="saveComment"}}
  </div>
  <div class="col-md-6">


    <h2> All Tags </h2>

    <ul>
      {{#each model.tags as |tag|}}
      <li>{{tag.type}}</li>
      {{/each}}
    </ul>

    {{new-tag saveTag="saveTag"}}

  </div>
</div>
