{{#each model.posts as |post|}}
  {{post-tile post=post}}
{{/each}}

{{new-post savePost ='savePost'}}

<ul>
  {{#each model.comments as |comment|}}
    <li>{{comment.rating}} - {{comment.content}} - by {{comment.author}}</li>
  {{/each}}
</ul>

{{new-comment saveComment="saveComment"}}

<h2> All Tags </h2>

<ul>
  {{#each model.tags as |tag|}}
    <li>{{tag.type}}</li>
  {{/each}}
</ul>

{{new-tag saveTag="saveTag"}}
